@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Story+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("/img/ChatGPT Image 23 de out. de 2025, 15_53_13.png");
  background-size: cover;
  background-repeat: no-repeat; 
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}


header {
  display: flex;
  justify-content: center;

}

#icons-header {
display: flex;
justify-content: end;
gap: 40px;
}

i{
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  background-color: honeydew;
  margin-top: 2vw;
  border-radius: 15px;
  z-index: 20;
  box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-bar a {
  text-decoration: none;
  color: black;
}
.nav-bar a:hover {
  border-bottom: 3px solid black;
  transition: 0.1s;
}

#logo {
  width: 10vw;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

li {
  list-style: none;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

h1 {
  font-size: 3rem;
  color: honeydew;
}

#a-aside {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  width: 15vw;
  height: 3vw;
  background-color: honeydew;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}
#a-aside:hover {
  background-color: rgb(138, 145, 138);
  transition: ease-in-out 0.3s;
}



#section-bmw {
  display: flex;
  align-items: end;
  height: 40vw;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 30vw;
  border-radius: 0% 50% 50% 0%;
  background-color: honeydew;
  margin-left: -28vw;
  overflow: visible; 
  z-index: 1;
}

.circle img {
  position: absolute;
  left: 14vw; 
  width: 80%;
  height: auto;
  z-index: 2; 
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky
  ;
  height: 5vh;
  background-color: honeydew;
  margin-top: 5vh;
}



